:root {
    --box: url("/assets/img/checkbox.png");
    --checked-box: url("/assets/img/checked-box.png");
}


main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 76%;
    left: 14%;
    top: 2rem;
    height: 81%;
    padding-left: 6rem;
}

input {
    font-family: 'Inter', sans-serif;
    height: 3rem;
    border-radius: .625rem;
    width: 100%;
    border: .0625rem solid #DEDFDF;
    font-size: 1rem !important;
    padding-left: 1rem;
}

textarea {
    font-family: 'Inter', sans-serif;
    font-size: 1rem !important;
    border: .0625rem solid #DEDFDF;
    border-radius: .625rem;
    min-width: 27.5rem;
    max-width: 27.5rem;
    padding: .3125rem
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}


section {
    position: absolute;
    top: 0;
    left: 14.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#task-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:4rem
}

.sections {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 32rem;
}

.title {
    margin-bottom: 3rem;
    font-size: 4rem;
    font-weight: 700;
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 27rem;
    flex-shrink: 0;
}

.border {
    width: .0625rem;
    background-color: #DEDFDF;
    margin: 0 4rem;
    height:24rem
}

.right-section {
    width: 27rem;
}

#prio {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.prioImgs {
    margin-left: .25rem;
    height: .9rem;
    width:1.25rem
}

#medium-img{
    height: .466rem;
    width:1.25rem
}

.prio {
    border-radius: .625rem;
    width: 30%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.prio span:hover {
    cursor: pointer;
    box-shadow: 0px .5rem .25rem 0px rgba(0, 0, 0, 0.2);
    border-radius: .625rem;
}

label {
    display: flex;
    width: 100%;
    height: 100%;
}

.prio label span {
    display: flex;
    font-size: 1.2rem;
    background-color: white;
    border-radius: .625rem;
    height: 100%;
    box-shadow: 0px 0px .125rem .0625rem rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    width: 100%;
    transition: box-shadow 0.2s ease-in-out;
}

.prio label input {
    display: none;
}

.prio input:checked+span {
    color: white;
    border-radius: .625rem;

    &:hover {
        box-shadow: none;
    }
}

.add-task-bottom-section {
    display: flex;
    justify-content: space-between;
    min-width: 62rem;
}

#submit-btn-container {
    display: flex;
    justify-content: flex-end;
    gap:1rem;
    align-items: center;
    width: 40%;
    height: 3rem;
}

.createTaskButton {
    border: unset;
    border-radius: .625rem;
    height:3rem;
    color: white;
    background-color: #2A3647;
    width: 10.5rem;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: none;
    transition: box-shadow 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center
}

.createTaskButton img{
    height: 0.65rem;
    margin-left: .5rem;
}

.createTaskButton:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0px .5625rem .5625rem -.1875rem rgba(0,0,0,0.3);
}

.createTaskButton:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

.clearButton {
    background-color: #F6F7F8;
    color: #091931;
    border: .0625rem solid #2A3647;
    border-radius: .625rem;
    height:3rem;
    width: 6.5rem;
    font-weight: 500;
    font-size: 1rem;
    box-shadow: none;
    transition: box-shadow 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center
}

.clearButton img{
    height: 0.8rem;
    margin-left: .75rem;
}

.clearButton:hover {
    cursor: pointer;
    border: .0625rem solid #29ABE2;
    color: #29ABE2;
    box-shadow: 0px .5625rem .5625rem -.1875rem rgba(0,0,0,0.3);
}

.clearButton:hover>img{
        content: url('/assets/img/Vectorblue-cross.png');
        margin-left:.6875rem;
}

#cross{
    width: .875rem;
    height: .875rem;
}

#add-subtask{
    width: 1.125rem;
    height: .9375rem;
}

.span {
    color: #FF8190;
}

.add-task-bottom-section-mobile {
    display: none;
}

.selectContainer {
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 15.625rem;
    height: 3.125rem;
}

.select-box {
    appearance: none;
    padding: 0 1.875rem 0 .9375rem;
    width: 100%;
    color: black;
    font-size: 1.25rem;
}

.form-control:focus {
    color: #212529 !important;
    background-color: #fff !important;
    border-color: #fff !important;
    outline: 0 !important;
    box-shadow: none !important;
}


.sub-container {
    z-index: 2;
    width: 100% !important;
    padding: .2rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #212529 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: .0625rem solid #ced4da !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border-radius: .625rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}

.sub-container:focus-within {
    box-shadow: inset 0 0 .0625rem .0625rem #5FC0E9;
}

/* .sub-container input{
    width: 375px!important;
} */

.subtask-input {
    border: none !important;
    padding: 0;
    transition: none;
    height: 2.5rem;

    &:hover {
        cursor: pointer;
    }
}

#sub-btn {
    z-index: 5;
    position: absolute;
    right: .3125rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 1.25rem;
    gap: .1875rem;
    width: 5rem;
}

#sub-btn-plus {
    width: 1rem;
    height: .9rem;
}

#sub-plus {
    margin-right: 0.8rem
}

#sub-plus,
#cross-btn,
#check-btn {
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }

    &:active {
        background-color: transparent !important;
        ;
    }
}

.sub-active {
    height: 1.5rem !important;
    width: 1.5rem !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: none !important;
    border-radius: 50% !important;

    &:hover {
        background-color: rgba(0, 0, 0, 0.06) !important;
    }

    &:hover #cross #add-subtask #sub-btn-plus {
        height: 1rem !important;
    }

    &:hover #add-subtask {
        height: 1rem !important;
    }
}

.input-border {
    height: 1.5625rem;
    width: .0625rem;
    border: .0625rem solid rgba(0, 0, 0, 0.2);
    margin: 0 .125rem;
    align-self: center;
}


input:hover {
    cursor: pointer !important;
}

.divIcon {
    position: absolute;
    right: 1rem;
    width: 1.56rem !important;
    height: 1.56rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border-color: transparent;
    background-color: transparent;
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.divIcon img {
    border-radius: 50%;
}

.add-task-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: .375rem ;
    width: 98%;
    border-radius: .625rem;
}


.ul-parent {
    position: absolute;
    top: 0;
    padding-top: 2.6rem;
    width: 100%;
    border-radius: .625rem;
    background-color: white;
    max-height: 23.125rem;
    min-height: 6.5625rem
}

.drop-down-select-container {
    position: absolute;
    top: 2.6rem;
    left: .0625rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 20rem;
    border-radius: .625rem;
    background-color: white;
    box-shadow: 0px 0px .5rem .125rem rgba(0, 0, 0, 0.1);
}

.profile {
    display: flex;
    align-items: center;
    gap: .625rem;
}

#added-profile-initials-container{
display: flex;
flex-wrap: wrap;
margin-left:1rem;
overflow-x: scroll;
-ms-overflow-style: none;  
    scrollbar-width: none; 
}
#added-profile-initials-container::-webkit-scrollbar {
    display: none;
  }
.added-profile-initials{
    border-radius: 50%;
    height: 2.1rem;
    width: 2.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8rem;
    margin:.5rem .5rem 0 0;
    border: .1rem solid white;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    height: 0;
    width: 0;
}

#checkbox {
    margin-right: .5rem;
    width: 1.5rem;
    height: 1.5rem;
    transform: translate(.1875rem, .125rem);

    &:hover {
        cursor: pointer;
        width: 1.5625rem;
        height: 1.5625rem;
        margin-right: .4375rem;
        background-color: rgba(0, 0, 0, 0.05);
    }
}

.contact-assign-select {
    z-index: 2;
}

.icon{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    font-weight: 400;
    color: white;
    border:.125rem solid white;
    box-shadow: 0px 0px .125rem .1875rem rgba(0, 0, 0, 0.05);
}

ul li {
    display: flex;
    padding: 0.2rem 1rem;
    text-align: left;
    width: 25,5rem;
    font-size: 1rem !important;
    align-items: center;
    justify-content: space-between;
    margin: .5rem 0.5rem;
    border-radius: .5rem;
}

ul {
    min-height: 3.125rem;
    max-height: 10rem!important;
    overflow-y: auto!important;
    overflow-x: hidden;

    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;

    &:hover {
        cursor: pointer;
    }


    &::-webkit-scrollbar {
        width: .625rem;
        margin-top: 1.25rem
    }

    &::-webkit-scrollbar-track {
        background: white;
        border-radius: .9375rem;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: .9375rem;
    }
}

li:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

#assignement,#subtask-list:hover {
    cursor: default;
}

#single-todo:hover{
    cursor: default;
}

#assignement>li:hover{
    cursor:default!important;
    background-color: transparent!important;
}

#subtask-list>li:hover{
    cursor:default!important;
    background-color: transparent!important;
}

.relative {
    position: relative;
}


h6 {
    font-size: 1.25rem !important;
    font-weight: 400 !important;
}

h6:not(:first-of-type):not(:nth-of-type(4)) {
    margin-top: 1.5rem !important;
}

#header-six {
    margin-top: 1.5rem !important;
}


/* #area-container {
    padding: .5rem 0 0 .5rem !important;
} */

textarea.form-control {
    height: 7.5rem!important;
    cursor: text!important;
    white-space: pre-wrap!important;
    overflow-wrap: break-word!important;
}

textarea {
    &::-webkit-scrollbar {
        width: .625rem;
        margin-top: 1.25rem
    }

    &::-webkit-scrollbar-track {
        background: white;
        border-radius: .9375rem;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: .9375rem;
    }
}

#category,
#assign {
    background-color: transparent;
}

#category-icon,#assign-icon{
    width: 1.5rem;
    height: 1.5rem;
}

#category-ul {
    height: 340%;
}

.divIcon:hover {
        background-color: rgba(0, 0, 0, 0.08) !important;
}

.select::placeholder {
    color: black
}


#subtask-listed {
    position: absolute;
    min-height: 3.125rem;
    max-height: 9rem;
    top: 3.25rem;
    left: 0;
    right: 0;
    width: 24rem;
    background-color: transparent;
    margin: 0 auto;
}

#task-list {
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    position: relative;
    width: 22rem;
    overflow-y: auto !important;
    max-height: 9rem;
    font-size: 1rem !important;
    background-color: transparent !important;
    list-style-type: disc !important;

    &:hover {
        cursor: default !important;
    }
}

#task-list li {
    display: list-item !important;
    font-family: 'Inter', sans-serif;
    list-style-position: inside;
    line-height: 1rem;

    &:hover {
        background-color: transparent !important;
    }
}

#task-list li::before {
    content: "";
    margin-left: -0.8rem;
}

.row {
    margin-left: 0 !important;
}

#info{
    display: none;
    z-index: 999;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    justify-content: space-evenly;
    align-items: center;
    width: 23rem;
    border-radius: 1.5rem;
    height: 5rem;
    font-size: 1.5rem;
    color:white;
    background-color:#2A3647;
    transform: translateY(40rem);
}

.push-up{
    display: flex !important;
    animation: pushUp .2s forwards;
}

@keyframes pushUp {
    0% {
        transform: translateY(40rem);
    }
    100% {
        transform: translateY(-40rem);
    }
}


input[type="date"]::-webkit-calendar-picker-indicator{
    content: url('/assets/img/calendar.png');
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}


.add-task-main-page{
    display: flex;
    margin-left: 1rem;
    margin-bottom: -3rem;
    height: 3rem;
}

#title-requirement{
    position: relative;
    margin: -0 0 -1.2rem .5rem;
    color: red;
    font-size: .8rem;
}

#required-text{
    font-size: 1rem!important;
}

#description-requirement{
    position: relative;
    margin: -0 0 -1.2rem .5rem;
    color: red;
    font-size: .8rem;
}

#date-requirement{
    position: relative;
    margin: -0 0 -1.2rem .5rem;
    color: red;
    font-size: .8rem;
}

.profile-checkboxes{
    position: absolute;
    right: 1rem;
    width:1.5625rem;
    height:1.5625rem
}
.subTaskListFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subTaskListFlex:focus-within{
    border-bottom: .0625rem solid #29ABE2;
}
.edit-input{
    outline:none!important;
    background-color: transparent;
    border-bottom: .0625rem #29ABE2!important;
}

.single-subtask:hover{
    cursor: url('/assets/img/edit.png')16 16, auto;
}

.edit-input:focus{
    outline:none!important;
    background-color: transparent;
}

.deleteSubtaskImg {
    width: 1.5rem
}
.deleteSubtaskImg:hover {
    cursor: pointer;
}

@media screen and (max-width: 1135px) {
    .border{
        margin: 0 1rem;
    }

    .add-task-bottom-section{
        min-width: 56rem
    }
} 
 @media screen and (max-width: 1024px) {
    .sub-container{
        border-radius: .8rem;
    }

    .clearButton{
        border-radius: .8rem;
    }

    .createTaskButton{
        border-radius: .8rem;
    }

    .border{
        margin: 0 3rem;
    }

    .add-task-bottom-section{
        min-width: 60rem
    }


}

@media screen and (max-width: 960px) {
    main{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: calc(100vh - 12rem);
        top:0;
        padding: 1rem;
        left:0;
        position: static;
    }

    .sections{
        flex-direction: column;
        width: 100%;
        overflow-y: scroll;
        height: 55vh;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    #task-container{
        position: static;
    }

    .add-task-bottom-section{
        z-index: 5;
        position: absolute;
        bottom:7rem;
        padding:1rem;
        width: 97%;
        background-color: #F6F7F8;
        min-width: unset;
        justify-content: space-evenly;
    }

    .clearButton{
        display: none
    }

    .left-section, .right-section{
        width: 100%;
    }

    .border{
        display: none;
    }
    
    #prio{
        width: 100%;
    }

    h6{
        margin-top: 1rem;
    }

    #added-profile-initials-container{
        margin-bottom: 0;
    }

    /* .prio label span{
        border-radius: 6px;
    }

    .prio input:checked+span{
        border-radius: 6px;
    } */
}
