body {
    overflow-x: hidden;
}

main {
    position: relative;
    top: 0;
    left: 14%;
    width: 86%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 5rem 1% 0;
    padding-left: 4rem;
    align-items: unset;
}

#assign-list li:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

#assign-list li {
    width: 98%
}

.cloumn {
    display: flex;
    flex-direction: column;
}

.sections-drag {
    display: flex;
    flex-direction: column;
    width: 100%
}

#content-box {
    height: calc(72vh - 5rem);
    width: 100%;
    overflow-y: auto;
    padding: 0.5rem;

    &::-webkit-scrollbar {
        width: .625rem;
        margin-top: 1.25rem
    }

    &::-webkit-scrollbar-track {
        background: white;
        border-radius: .9375rem;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: .9375rem;
    }
}

.drag-area {
    position: relative;
    background-color: #E7E7E7;
    border: .125rem dashed #B8B8B8;
    border-radius: .9375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: black;
}

.drag-area-highlight {
    background-color: #009494;
    box-shadow: none;
    border: none;
}

.todo {
    background-color: white;
    border-radius: 1.875rem;
    padding: .9375rem 1.25rem;
    margin: 0 0 1rem;
    width: 100%;
    box-shadow: 0px 0px .5rem 0px rgb(0, 0, 0, 0.2);
    word-break: break-all;
    clip-path: margin-box;
}

.headline {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    width: 100%;
}

/* .inputAndButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32rem;
    margin-right:1rem
} */

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 6.1875rem;
}

.buttonAdd {
    position: absolute;
    top: 0;
    height: 3rem;
    bottom: 0;
    margin: auto;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #2A3647;
    color: white;
    border-radius: .625rem;
    font-size: 1.3rem;
    font-weight: 700;
    transition: box-shadow 0.1s ease;
}

.buttonAddMobile {
    position: absolute;
    top: 0;
    height: 3rem;
    bottom: 0;
    margin: auto;
    right: 1rem;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #2A3647;
    color: white;
    border-radius: .625rem;
    font-size: 1.3rem;
    font-weight: 700;
    transition: box-shadow 0.1s ease;
}

#find-task-container {
    position: absolute;
    left: 50.5%;
    width: 29% !important;
    margin: auto !important;
    top: 0;
    bottom: 0;
    height: 3rem;
}

#search-icon-container {
    height: 2rem;
    width: 2rem !important;
    position: absolute;
    right: 1rem;
    top: 0;
    bottom: 0;
    margin: auto;
}

#search-btn>img {
    height: 1.125rem;
    width: 1.125rem;
}

#find-task-container>.input-border {
    width: .0625rem;
    padding: 0;
    height: 2rem;
    margin-right: 1rem;
}

#find-task-container>button {
    width: 2rem !important;
    height: 2rem !important;
}

#search-btn {
    margin-right: 1rem;

    &:focus {
        box-shadow: none;
    }
}


.buttonAdd:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0px .25rem .25rem 0px rgba(0, 0, 0, 0.2);
}

.buttonAdd img {
    filter: brightness(0) invert(1);
}

h1 {
    display: block;
    font-size: 3.8125rem;
    font-weight: 700;
}


.user-story {
    background-color: #0038FF;
    padding: .3125rem 1.25rem;
    color: white;
    border-radius: .625rem;
    width: 2.1875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.25rem;
}

.technical-task {
    background-color: #1FD7C1;
    padding: .3125rem 1.25rem;
    color: white;
    border-radius: .625rem;
    width: 9.6875rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
}

.categoryBoardPopUp {
    width: fit-content !important;
    font-size: 1.5rem !important;

}

.headlineBoardPopUp {
    font-size: 4rem !important;
    font-weight: 700 !important;
}

.descriptionBoardPopUp {
    font-size: 1.2rem !important;
    display: flex;

}

.descriptionBoardPopUp>span {
    width: 8rem;
}

.descriptionBoardPopUp>img {
    height: .6rem;
    align-self: center;
    margin-left: .5rem;
}

.todo-content {
    color: rgba(0, 0, 0, 0.6)
}

.progress {
    height: .5rem !important;
    border-radius: .9375rem !important;
    width: 40%;
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12.5rem;
}

.subtask-content {
    display: flex;
    flex-direction: row;
}

#task-container {
    position: static;
}

h5 {
    font-weight: 700 !important;
}

.status {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    min-width: 4rem;
    height: auto;
}


.footer-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 1.2rem 0 0;
    justify-content: space-between;
    align-items: center;
}

.pop-up-add-task {
    position: absolute;
    z-index: 50;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

#pop-up-container {
    position: absolute;
    display: flex;
    background-color: white;
    inset: 0;
    margin: auto;
    height: 55rem;
    padding: 0 5.5em;
    width: 80%;
    border-radius: 1.875rem;
    flex-direction: column;
    transform: translateX(75rem);
    animation: slide-in 0.15s ease-in-out forwards;
}

@keyframes slide-in {
    0% {
        transform: translateX(75rem);
    }

    100% {
        transform: translateX(0);
    }

}

@keyframes slide-out {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(75rem);
    }

}

.sections {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.edit-sections {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 45rem;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: .625rem;
        height: 20rem;
        margin-top: 1.25rem
    }


    &::-webkit-scrollbar-track {
        border-radius: 2.1875rem;
        margin-block: 3.125rem;
    }

    &::-webkit-scrollbar-thumb {
        background: #b9b7b7;
        border-radius: .9375rem;
        border-top: 3.125rem green;

    }
}

.edit-sections>div>#prio {
    width: 23rem;
}

.edit-bottom-section {
    position: absolute;
    bottom: 2rem;
    right: 3rem;
}

.edit-sections>div>h6 {
    margin-left: 0.5rem;

}

#edit-ok-btn {
    width: 5rem;
}

.edit-ul-task-list {
    margin-bottom: 1rem !important;
}

.edit-priority-span {
    width: 7rem !important;
}

.prioriy-container>img {
    width: 1.3125rem
}



.left-section,
.right-section {
    width: 50%;
}

.container {
    margin: 0 !important;
}


h6:not(:first-of-type):not(:nth-of-type(4)) {
    margin: 1rem 0 0.5rem !important;
}

#header-six {
    margin: 1.5rem 0 0.5rem !important;
}

#required-text {
    font-size: .8rem !important;
    margin: 0;
    align-self: flex-end !important;
}


.add-task-bottom-section {
    position: absolute;
    margin: auto;
    bottom: 3rem;
    width: 90%;
    left: 0;
    right: 0;
}

.border {
    margin: 0 2.5rem
}

.edit-border {
    margin: 1rem 0;
}

.row {
    padding: .125rem !important
}

.clearButton {
    background-color: white;
}

#close-pop-up {
    position: absolute;
    display: flex;
    right: 1rem;
    top: 1.3rem;
    height: 2rem;
    padding: .5625rem;
    border-radius: 50%;
    z-index: 2;

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
}


#white-plus {
    height: 1.3rem;
    margin-left: .5rem
}

h1 {
    font-size: 4rem !important;
    font-weight: 800 !important;
}

#content-headlines {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem
}

.drag-headlines {
    display: flex;
    width: 25%;
    flex-direction: column;
    margin-right: 1rem;

}

.drag-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 1rem 0;
    padding: 0 .5rem 0 1rem;
}

.drag-headlines>h4 {
    font-weight: 700;
}

#content-headlines>div {
    margin: 1rem 1rem 1rem 1rem
}

.drag-headlines-plus {
    height: 1.7rem;

    &:hover {
        content: url(/assets/img/board-plus-hover.png);
        cursor: pointer;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 :hover {
    cursor: default;
}

.profile-initials-container {
    display: flex;
    flex-wrap: wrap;
}

.profile-initials {
    border-radius: 50%;
    height: 2.1rem;
    width: 2.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8rem;
    margin-left: -0.5rem;
    border: .1rem solid white;
}

.profile-initials:first-of-type {
    margin-left: 0;
}

#pop-headline {
    font-size: 3rem;
    margin-bottom: 1.5rem;

}

ul {
    width: 80%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll !important;
    list-style-type: none !important;
    list-style-position: outside !important;
    margin: 0 !important;
    padding: 0 !important;
    align-items: start;
}

.edit-ul {
    max-height: 20rem !important;
    overflow-y: auto !important;
}

#assignement {
    height: auto;
    overflow: scroll !important;
}

#assignment .contact:hover {
    cursor: default !important;
    background-color: transparent !important;
}

#todo-text-content {
    color: black;
    margin: 1rem 0
}

#pop-priority {
    margin: 1rem 0
}

#subtask-list {
    margin: 1rem 0 !important;
    width: 90% !important;
    max-height: none !important;
}

#subtask-list>li {
    margin-block: 0;
}

#single-todo {
    overflow-y: auto !important;
    clip-path: unset;
    overflow-x: hidden;
    max-height: calc(46rem + (.75rem + 1rem)) !important;
    ;

    &::-webkit-scrollbar {
        width: .625rem;
        margin-top: 1.25rem;
    }

    &::-webkit-scrollbar-track {
        background: white;
        border-radius: 2.1875rem;
        margin-block: 2rem
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: .9375rem;
    }
}

#todo-edit-footer {
    display: flex;
    align-items: end;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    box-sizing: border-box;
}

#todo-edit-footer>button {
    background-color: transparent !important;
    border: none;

    &:hover {
        color: #29ABE2;
        font-weight: 500;
    }
}

#todo-edit-footer>button>img {
    height: 1.5rem;
}

.sub-task-board {
    margin: 0 0 0 -1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 2rem;
    gap: 1rem
}

.sub-cb-auxiliary {
    width: 2rem;
    display: flex;
    justify-content: center
}

.sub-text {
    width: 19rem;
    display: flex;
    justify-content: flex-start;
    font-size: 0.8rem
}

.sub-checkbox {
    height: 1.2rem;
}

.title {
    margin-bottom: 2rem;
}

#title-requirement-edit {
    position: relative;
    margin: -0 0 -1.2rem .5rem;
    color: red;
    font-size: .8rem;
}

#description-requirement-edit {
    position: relative;
    margin: -0 0 -1.2rem .5rem;
    color: red;
    font-size: .8rem;
}

#date-requirement-edit {
    position: relative;
    margin: -0 0 -1.2rem .5rem;
    color: red;
    font-size: .8rem;
}

.profile-checkboxes-edit {
    position: absolute;
    right: 1rem;
}

.single-subtask:hover {
    cursor: url('/assets/img/edit.png')16 16, auto;
}


.no-tasks {
    position: absolute;
    width: 100%;
    text-align: center;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.moveButtons {
    width: 15rem;
    display: flex;
    background-color: white;
    justify-content: flex-start !important;
    align-items: start !important;
    flex-direction: column;
    box-shadow: 0rem 1rem 2rem 0rem rgba(0, 0, 0, 0.2);
    padding: 0.25rem;
    padding-bottom: 2rem;
    border-radius: 1rem 1rem 0rem 1rem;
    gap: .5rem;
}

.moveButtons button {
    border: unset;
    background-color: white;
}

.moveButtons button:hover {
    color: #29ABE2;
}

#openMoveTaskMenu{
    display: none;
}

.closeMoveTaskMenu {
    position: relative;
    top: 0.5rem;
    right: -11rem;
}

.moveTaskButton{
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
    text-align: start;
    border-bottom: 1px solid #29ABE2!important;
}
.moveTaskButton:last-child{
    border-bottom: unset!important;
}

@media screen and (max-width: 960px) {
    main {
        position: static;
        width: unset;
        padding-left: unset;
        padding-top: 2rem
    }

    #openMoveTaskMenu{
        display: block;
    }

    .content {
        flex-direction: column;
    }

    #content-box {
        height: 37rem;
    }

    .drag-area {
        flex-direction: row;
        gap: 1rem
    }

    .buttonAddMobile {
        display: flex;
        padding-left: 0.5rem;
    }

    .headline {
        position: relative;
        left: 0;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        background-color: #f8f9fa;
        gap: 1rem;
        z-index: 12;
        top: -2rem;
        height: 12rem;
        margin-top: 0rem;
        margin-bottom: 0;
    }

    .buttonAddMobile {
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        margin: 0;
    }

    .buttonAdd {
        display: none;
    }

    #find-task-container {
        left: 1rem;
        width: unset !important;
        margin: auto 0;
        bottom: -8rem;
        right: 2rem;
    }

    .headline>h1 {
        position: absolute;
        top: 1rem
    }

    .drag-headlines {
        width: unset;

    }

    .drag-area {
        overflow: scroll;
        min-height: 5rem;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .todo {
        height: 14rem;
        width: 15rem;
    }

    .drag-area>div>.todo-content {
        height: 2rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    #single-todo {
        width: 93%;
        height: 92%;
        overflow-y: scroll !important;

        &::-webkit-scrollbar {
            display: none !important;
        }
    }

    #close-pop-up >img{
        width: 1.4rem;
        height: 1.5rem;
    }

    #close-pop-up {
        width: 2.5rem;
        height: 2.5rem;
    }
}