body {
    overflow-x: hidden;
}

main {
    position: relative;
    top: 0;
    left: 14%;
    width: 86%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 5rem 1% 0;
    padding-left: 4rem;
    align-items: unset;
}

.cloumn {
    display: flex;
    flex-direction: column;
}

.sections-drag {
    display: flex;
    flex-direction: column;
    width: 100%
}

#content-box {
    height: calc(72vh - 5rem);
    width: 100%;
    overflow-y: auto;
    padding: 0.5rem;

    &::-webkit-scrollbar {
        width: 10px;
        margin-top: 20px
    }

    &::-webkit-scrollbar-track {
        background: white;
        border-radius: 15px;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 15px;
    }
}

.drag-area {
    background-color: #E7E7E7;
    border: 2px dashed #B8B8B8;
    border-radius: 15px;
    box-shadow: 0px 0px 1px 1px rgb(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 4rem;
    color: black;
}

.drag-area-highlight {
    background-color: rgb(48, 231, 48);
    box-shadow: none;
    border: none;
}

.todo {
    background-color: white;
    border-radius: 30px;
    padding: 15px 20px;
    margin: 0 0 1rem;
    width: 100%;
    box-shadow: 0px 0px 8px 0px rgb(0, 0, 0, 0.2);
    word-break: break-all;
}

.headline {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    width: 100%;
}

/* .inputAndButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32rem;
    margin-right:1rem
} */

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 99px;
}

.buttonAdd {
    position: absolute;
    top: 0;
    height: 3rem;
    bottom: 0;
    margin: auto;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #2A3647;
    color: white;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 700;
    transition: box-shadow 0.1s ease;
}

#find-task-container {
    position: absolute;
    left: 50.5%;
    width: 29% !important;
    margin: auto !important;
    top: 0;
    bottom: 0;
    height: 3rem;
}

#search-icon-container {
    height: 2rem;
    width: 2rem !important;
    position: absolute;
    right: 1rem;
    top: 0;
    bottom: 0;
    margin: auto;
}

#find-task-container>.input-border {
    width: 1px;
    padding: 0;
    height: 2rem;
    margin-right: 1rem;
}

#find-task-container>button {
    width: 2rem !important;
    height: 2rem !important;
}

#search-btn {
    margin-right: 1rem;

    &:focus {
        box-shadow: none;
    }
}


.buttonAdd:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.buttonAdd img {
    filter: brightness(0) invert(1);
}

h1 {
    display: block;
    font-size: 61px;
    font-weight: 700;
}


.user-story {
    background-color: #0038FF;
    padding: 5px 20px;
    color: white;
    border-radius: 10px;
    width: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.technical-task {
    background-color: #1FD7C1;
    padding: 5px 20px;
    color: white;
    border-radius: 10px;
    width: 155px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.categoryBoardPopUp {
    width: fit-content !important;
    font-size: 1.5rem !important;

}

.headlineBoardPopUp {
    font-size: 4rem !important;
    font-weight: 700 !important;
}

.descriptionBoardPopUp {
    font-size: 1.2rem !important;
    display: flex;

}

.descriptionBoardPopUp>span{
    width: 8rem;
}

.descriptionBoardPopUp>img{
    height: .6rem;
    align-self: center;
    margin-left: .5rem;
}

.todo-content {
    color: rgba(0, 0, 0, 0.6)
}

.progress {
    height: 8px !important;
    border-radius: 15px !important;
    width: 40%;
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.subtask-content {
    display: flex;
    flex-direction: row;
}

h5 {
    font-weight: 700 !important;
}

.status {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    min-width: 64px;
    height: auto;
}


.footer-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 1.2rem 0 0;
    justify-content: space-between;
    align-items: center;
}

.pop-up-add-task {
    position: absolute;
    z-index: 50;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

#pop-up-container {
    position: absolute;
    display: flex;
    background-color: white;
    inset: 0;
    height: 85%;
    margin: auto;
    padding: 0 5.5em;
    width: 80%;
    border-radius: 30px;
    flex-direction: column;
    transform: translateX(75rem);
    animation: slide-in 0.15s ease-in-out forwards;
}

@keyframes slide-in {
    0% {
        transform: translateX(75rem);
    }

    100% {
        transform: translateX(0);
    }

}

@keyframes slide-out {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(75rem);
    }

}

.sections {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.edit-sections {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 90%;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 10px;
        height: 20rem;
        margin-top: 20px
    }


    &::-webkit-scrollbar-track {
        border-radius: 35px;
        margin-block: 50px;
    }

    &::-webkit-scrollbar-thumb {
        background: #b9b7b7;
        border-radius: 15px;
        border-top: 50px green;

    }
}

.edit-bottom-section {
    position: absolute;
    bottom: 2rem;
    right: 3rem;
}

.edit-sections>div>h6 {
    margin-left: 0.5rem;

}

#edit-ok-btn {
    width: 5rem;
}

.edit-ul-task-list {
    margin-bottom: 1rem !important;
}

.edit-priority-span {
    width: 7rem !important;
}



.left-section,
.right-section {
    width: 50%;
}

.container {
    margin: 0 !important;
}


h6:not(:first-of-type):not(:nth-of-type(4)) {
    margin: 2em 0 0.5em !important;
}

#header-six {
    margin: 3em 0 0.5em !important;
}

#required-text {
    font-size: .8em !important;
    margin: 0;
    align-self: flex-end !important;
}


.add-task-bottom-section {
    width: 85% !important;
    position: absolute;
    margin: auto;
    bottom: 10%;
    left: 5%;
    right: 5%;
}

.border {
    margin: 0 2.5em
}

.edit-border {
    margin: 1rem 0;
}

.row {
    padding: 2px !important
}

.clearButton {
    background-color: white;
}

#close-pop-up {
    position: absolute;
    display: flex;
    right: 2em;
    top: 3.3em;
    height: 2em;
    padding: 9px;
    border-radius: 50%;

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
}


#white-plus {
    height: 1.3rem;
    margin-left: .5rem
}

h1 {
    font-size: 4rem !important;
    font-weight: 800 !important;
}

#content-headlines {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem
}

.drag-headlines {
    display: flex;
    width: 25%;
    flex-direction: column;
    margin-right: 1rem;

}

.drag-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 1rem 0;
    padding: 0 .5rem 0 1rem;
}

.drag-headlines>h4 {
    font-weight: 700;
}

#content-headlines>div {
    margin: 1rem 1rem 1rem 1rem
}

.drag-headlines-plus {
    height: 1.7rem;

    &:hover {
        content: url(/assets/img/board-plus-hover.png);
        cursor: pointer;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 :hover {
    cursor: default;
}

.profile-initials-container {
    display: flex;
}

.profile-initials {
    border-radius: 50%;
    height: 2.1rem;
    width: 2.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8rem;
    margin-left: -0.5rem;
    border: .1rem solid white;
}

.profile-initials:first-of-type {
    margin-left: 0;
}

#pop-headline {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  
}

ul {
    width: 80%;
    display: flex;
    flex-direction: column;
    overflow: hidden !important;
    list-style-type: none !important;
    list-style-position: outside !important;
    margin: 0 !important;
    padding: 0 !important;
    align-items: start;
}

.edit-ul {
    max-height: 20rem !important;
    overflow-y: auto !important;
}

#assignement{
    height: auto;
    max-height: none!important;
}

#assignment .contact:hover {
    cursor: default !important;
    background-color: transparent !important;
}

#todo-text-content {
    color: black;
    margin: 1rem 0
}

#pop-priority {
    margin: 1rem 0
}

#subtask-list {
    margin: 1rem 0 !important;
    width: 90%!important;
    max-height: none!important;
}

#subtask-list>li{
    margin-block:0;
}

#single-todo {
    overflow-y: auto !important;
    overflow-x: hidden;
    max-height: calc(46rem + (.75rem + 1rem)) !important;
    ;

    &::-webkit-scrollbar {
        width: 10px;
        margin-top: 20px;
    }

    &::-webkit-scrollbar-track {
        background: white;
        border-radius: 35px;
        margin-block:2rem
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 15px;
    }
}

#todo-edit-footer {
    display: flex;
    align-items: end;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    box-sizing: border-box;
}

#todo-edit-footer>button {
    background-color: transparent !important;
    border: none;

    &:hover {
        color: #29ABE2;
        font-weight: 500;
    }
}

.sub-task-board {
    margin: 0 0 0 -1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 2rem;
    gap:1rem
}

.sub-cb-auxiliary {
    width: 2rem;
    display: flex;
    justify-content: center
}

.sub-text{
    width: 19rem;
    display: flex;
    justify-content: flex-start;
    font-size: 0.8rem
}

.sub-checkbox{
    height: 1.2rem;
}

#title-requirement-edit{
    position: relative;
    margin: -0 0 -1.2rem .5rem;
    color: red;
    font-size: .8rem;
}

#description-requirement-edit{
    position: relative;
    margin: -0 0 -1.2rem .5rem;
    color: red;
    font-size: .8rem;
}

#date-requirement-edit{
    position: relative;
    margin: -0 0 -1.2rem .5rem;
    color: red;
    font-size: .8rem;
}

.profile-checkboxes-edit{
    position: absolute;
    right: 1rem;
}

