main{
    position: relative;
    left: 14%;
    width: 86%;
    max-width: 1240px;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.colorJoin {
    color: #29ABE2;
}
.scrollHelp {
    margin-left: 84px;
    margin-right: 84px;
    overflow: auto;
    height: 928px;
}
.scrollHelp::-webkit-scrollbar {
    display: none;
  }
.scrollHelp img {
    position: relative;
    top: -56px;
    left: 1002px;
}
.scrollHelp img:hover {
    cursor: pointer;
}
li::marker {
    font-size: 27px;
    font-weight: 700;
}
.titleH1 {
    font-size: 61px;
    font-weight: 700;
    margin-bottom: 0;
}