:root {
  --blue: #29abe2;
  --dark: #2a3647;
  --outline-active: #74c5e8;
  --outline-error: #ff6073;
  font-family: "Inter", sans-serif;
}

body p{
  font-size: 1.3rem;
}

main {
    left: 14rem;
    top: 3rem;
    position: relative;
    width: calc(100% - 14rem);
}

body{
 font-size: 1.5rem;
}

.colorJoin {
  color: #29abe2;
}

.scrollHelp::-webkit-scrollbar {
  display: none;
}

.scrollHelp img:hover {
  cursor: pointer;
}

.titleH1 {
  font-size: 3.8125rem;
  font-weight: 700;
  margin-bottom: 0;
}
h2 {
  margin-bottom: 0;
}
.scrollHelp p {
  margin-top: 0;
}

