:root {
  --blue: #29abe2;
  --dark: #2a3647;
  --outline-active: #74c5e8;
  --outline-error: #ff6073;
  font-family: "Inter", sans-serif;
}

main {
  margin-left: 4rem;
  margin-top: 4rem;
}

.colorJoin {
  color: #29abe2;
}

.scrollHelp::-webkit-scrollbar {
  display: none;
}

.scrollHelp img:hover {
  cursor: pointer;
}

.titleH1 {
  font-size: 61px;
  font-weight: 700;
  margin-bottom: 0;
}
h2 {
  margin-bottom: 0;
}
.scrollHelp p {
  margin-top: 0;
}

@media (max-width: 1100px) {
  main {
    margin-left: 0rem !important;
    margin-top: 3rem;
    overflow: scroll;
    height: 80vh;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    word-break: break-word;
  }
  main::-webkit-scrollbar {
    display: none;
  }

  .scroll-help {
    left: 0 !important;
    width: 100% !important;
  }
  #english {

    left: 0;
    width: 100%;
}
}
