:root {
    --blue: #29ABE2;
    --outline-active: #74C5E8;
    --outline-error: #FF6073;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.navBar {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 14rem;
    height: 100%;
    background-color: #2A3647;
    font-size: 1rem;
    padding-top: 0!important;
    padding-bottom: 0!important;
}


.navLogo {
    margin-top: 3.2rem;
    width: 6.375rem;
    height: 7.625rem
}

.navLinks {
    display: flex;
    flex-direction: column;
    width: 14.5rem;
    height: 14.31rem;
    gap: 1rem;
    margin-bottom: 10rem;
}

.navLinkImg {
    display: flex;
    width: auto;
    width: 14rem;
    height: 3rem;
    text-align: start;
    align-items: center;
    color:#F6F7F8;
    text-decoration: none;
    &:hover{
        background-color: #2A3D59;
        color:white
    }

    &:active{
        background-color: #091931;
        color:white
    }
}

.active{
    background-color: #091931;
    color:white
}

.linkImg {
   margin:0 .5rem 0 3rem;
   height: 1.875rem;
}

.navBottom {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 50px;
}

.navLinksBot {
    color: #A8A8A8;
    text-decoration: none;
    width: 8rem;
    font-size: 1rem;

    &:hover {
        color: #29ABE2;
        font-weight: 500;
    }
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    left: 14rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 14rem);
    height: 6rem;
    background-color: white;
    box-shadow: -2px 0 8px 0 rgba(0, 0, 0, 0.2);
}

.pHeader {
    position: relative;
    top: 0;
    bottom: 0;
    margin: auto 0 auto 8rem;
}

.imgsHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    gap: 20px;
}

.helpIcon{
    width: 1.25rem;
}

.helpIcon:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

#profile-icon {
    width: 3.5rem;
    height: 3.5rem;
    color: var(--blue);
    font-size: 2rem;
    font-weight: 600;
    border: 0.1875rem solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-icon:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05)
}

#header-icon-menu {
    position: absolute;
    right: 1rem;
    top: 6rem;
    color: #CDCDCD;
    border: 1px solid black;
    width: 9rem;
    height: 8.8rem;
    border-radius: 15px 0 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 0;
    align-items: flex-start;
    background-color: #2A3647;
}

.menu-link{
    width: 8rem;
    padding-left: 1rem;
    display:flex;
    justify-content: flex-start;
    height: 2.93rem;
    align-items: center;

    &:hover{
        background-color: #2A3D59;
    }
}

.menu-link>a:hover{
    color:white
}

.menu-link:first-child{
    border-radius: 15px 0 0 0;
}

.menu-link:last-child{
    border-radius: 0 0 15px 15px;
}

.menu-option {
    display: flex;
    align-items: center;
    color: #CDCDCD;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    height: 50px;
    width: fit-content;
}

.mobileImgHeader {
    display: none;
}

@media screen and (max-width: 960px) {
    .navBar{
        position: absolute;
        top: unset;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 7rem;
        background-color: #2A3647;
        font-size: 1rem;
        padding-top: 0!important;
        padding-bottom: 0!important;
    }

    .navLogo{
        display: none;
    }
    
    .navBottom{
        display: none;
    }

    .navLinks{
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        height: 7rem;
        margin:unset;
        gap:unset
    }

    .navLinkImg{
        justify-content: center;
        height: 6rem;
        width: 6rem;
        border-radius: 12px;
        flex-direction: column;
        gap:.5rem
    }

    .navLinkImg:nth-child(3){
        order:2
    }

    .navLinkImg:nth-child(2){
        order:3
    }

    .navLinkImg:first-child{
        order:1
    }

    .navLinkImg:last-child{
        order:4
    }

    .linkImg{
        margin:unset;
        height:2rem;
    }

    header{
        width: 100%;
        left:0
    }

    .imgsHeader>a{
        display: none;
    }

    .pHeader{
        display: none;
    }

    .imgsHeader{
        position: absolute;
        right: 0;
    }

    .mobileImgHeader{
        height: 4rem;
        position: absolute;
        left: 2rem;
        display: block;
    }
}

@media screen and (max-width: 545px) {
    .navLinks{
        width: fit-content;
        gap:4rem
    }
    
}

@media screen and (max-width: 455px) {
   

    .navLinks{
        gap:2rem
    }
    
}