:root {
    --blue: #29ABE2;
    --outline-active: #74C5E8;
    --outline-error: #FF6073;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.navBar {
    position: fixed !important;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 14rem;
    height: 100%;
    background-color: #2A3647;
    font-size: 16px;
    padding-top: 0!important;
    padding-bottom: 0!important;
}


.navLogo {
    margin-top: 50px;
}

.navLinks {
    display: flex;
    flex-direction: column;
    width: 232px;
    height: 229px;
    gap: 15px;
    margin-bottom: 200px;
}

.navLinkImg {
    display: flex;
    width: auto;
    width: 14rem;
    height: 3rem;
    text-align: start;
    align-items: center;
    color:white;
    text-decoration: none;
    &:hover{
        background-color: #2A3D59;
        color:white
    }

    &:active{
        background-color: #091931;
        color:white
    }
}

.active{
    background-color: #091931;
    color:white
}

.navLinkImg>span{
    margin-left:1rem
}


.linkImg {
   margin:0 1rem 0 3rem
}

.navBottom {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 50px;
}

.navLinksBot {
    color: #A8A8A8;
    text-decoration: none;
    width: 120px;

    &:hover {
        color: #29ABE2;
        font-weight: 500;
    }
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    left: 14rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 14rem);
    height: 96px;
    background-color: white;
    box-shadow: -2px 0 8px 0 rgba(0, 0, 0, 0.2);
}

.pHeader {
    position: relative;
    top: 0;
    bottom: 0;
    margin: auto 0 auto 8rem;
}

.imgsHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    gap: 20px;
}

.helpIcon:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

#profile-icon {
    width: 56px;
    height: 56px;
    color: var(--blue);
    font-size: 1.5rem;
    font-weight: 600;
    border: 3px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-icon:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05)
}

#header-icon-menu {
    position: absolute;
    right: 1rem;
    top: 6rem;
    color: #CDCDCD;
    border: 1px solid black;
    width: 9rem;
    border-radius: 15px 0 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 20px;
    align-items: flex-start;
    background-color: #2A3647;
}

.menu-option {
    display: flex;
    align-items: center;
    color: #CDCDCD;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    height: 50px;
    width: 100%;

    &:hover {
        background-color: #2A3D59;
    }
}

.mobileImgHeader {
    display: none;
}