:root {
    --blue: #29ABE2;
    --outline-active: #74C5E8;
    --outline-error:#FF6073;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto!important;
    font-family: 'Inter', sans-serif!important;
    font-size: 16px;
    background-color: #F6F7F8!important;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* overflow-y: hidden; */
}

.d-none{
    display: none!important;
}

#german>h1{
    font-size: 64px;
    font-weight: 700;
}

#german>h2{
    font-size: 27px;
    font-weight: 700;
}

#german{
    padding: 5%;
    padding-top:0;
    position: relative;
    left: 14%;
    max-width: 1240px;
    width: 76%;
}

#english>h1{
    font-size: 64px;
    font-weight: 700;
}

#english>h2{
    font-size: 27px;
    font-weight: 700;
}

#english{
    padding: 5%;
    padding-top:0;
    position: relative;
    left: 14%;
    width: 76%;
    max-width: 1240px;
}

.arrow{
    position: relative;
}

.arrow>a{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 46px;
    width: 39px;
}

.arrow>a>img{
    position: absolute;
    height: 40px;
    width: 39px;
    inset: 0;
    margin: auto;
}

.scroll-help{
    padding: 5%;
    padding-top:0;
    position: relative;
    left: 14%;
    width: 76%;
    max-width: 1240px;
}

