<head>
    <title>Help</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/join-logo.png">
    <link rel="stylesheet" href="/css/nav-header.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <script src="/script.js"></script>
    <script src="/js/help.js"></script>
    <script src="/render/navbar-component.js"></script>
    <script src="/render/header-component.js"></script>
    <script src="/render/text-components.js"></script>
</head>
<body onload="init()">
    
</body>
</html>