<head>
    <link rel="stylesheet" href="/css/nav-header.css">
    <link rel="stylesheet" href="/css/summary.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/style.css">
    <script src="/js/summary.js" ></script>
    <script src="/script.js"></script>
    <script src="/render/summary-components.js"></script>
    <script src="/render/navbar-component.js"></script>
    <script src="/render/header-component.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/join-logo.png">
</head>
<body onload="init()">
</body>